.feedback-container {
  background-image: url("/assets/images/common/background-base.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 25px 0 25px;
}

.feedback-title {
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.logo-image {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.feedback-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.rating-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.rating-label {
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.rating-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 4px;
  background-color: white;
}

.rating-label input[type="radio"]:checked+.rating-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
}

.rating-label-text {
  margin-left: 4px;
}

.rating-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
}

.rating-label input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.rating-label input[type="radio"]:checked~.rating-icon::before {
  opacity: 1;
}

.feedback-input {
  border-radius: 12px;
  width: 313.5px;
  height: 100px;
  padding: 0.5rem;
  font-size: 1rem;
}

.feedback-error {
  font-size: 17px;
  margin-bottom: 0.5rem;
}

.feedback-button {
  padding: 1rem 2rem;
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.feedback-button:hover {
  background-color: #007bff;
}


@media (max-width: 768px) {
  .feedback-title {
    font-size: 2rem;
  }

  .logo-image {
    width: 120px;
  }

  .feedback-button {
    font-size: 1.2rem;
  }
}
