<div class="feedback-container">
  <h2 class="feedback-title">Feedback</h2>
  <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()" class="feedback-form">
    <div class="form-group">
      <label class="feedback-label">Nota</label>
      <div class="rating-container">
        <label class="rating-label">
          <input type="radio" name="rating" value="0" formControlName="rating">
          <span class="rating-icon"></span>
          <span class="rating-label-text">0</span>
        </label>
        <label class="rating-label">
          <input type="radio" name="rating" value="1" formControlName="rating">
          <span class="rating-icon"></span>
          <span class="rating-label-text">1</span>
        </label>
        <label class="rating-label">
          <input type="radio" name="rating" value="2" formControlName="rating">
          <span class="rating-icon"></span>
          <span class="rating-label-text">2</span>
        </label>
        <label class="rating-label">
          <input type="radio" name="rating" value="3" formControlName="rating">
          <span class="rating-icon"></span>
          <span class="rating-label-text">3</span>
        </label>
        <label class="rating-label">
          <input type="radio" name="rating" value="4" formControlName="rating">
          <span class="rating-icon"></span>
          <span class="rating-label-text">4</span>
        </label>
        <label class="rating-label">
          <input type="radio" name="rating" value="5" formControlName="rating">
          <span class="rating-icon"></span>
          <span class="rating-label-text">5</span>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="feedback-label">Sugestão/Elogio/Etc..</label>
      <textarea class="feedback-input" name="suggestion" formControlName="suggestion"></textarea>
    </div>
    <label class="feedback-error">{{messageError}}</label>
    <button class="feedback-button" type="submit">Enviar</button>
  </form>
  <div class="home-access" (click)="goToHome()">Para voltar à home, <span class="here">clique aqui</span></div>
</div>
