<div class="login-container">
    <h2 class="login-title">
      <img class="logo-image" src="/assets/images/login/estudante.png" alt="Logo"> Trilhas da Sabedoria
    </h2>
    <form class="login-form" (submit)="login($event, emailInput.value, passwordInput.value)">
      <div class="form-group">
        <label class="inputs-labels" for="email">E-mail</label>
        <input class="input-form-login" type="email" id="email" name="email" placeholder="Digite seu e-mail" #emailInput required>
      </div>
      <div class="form-group">
        <label class="inputs-labels" for="password">Senha</label>
        <input class="input-form-login" type="password" id="password" name="password" placeholder="Digite sua senha" #passwordInput required>
      </div>
      <button class="login-button">Entrar</button>
      <div class="form-group">
        <div class="forgot-password" (click)="goForgetPassword()">Esqueci minha senha</div>
        <div class="first-access" (click)="goToRegister()">Primeiro acesso? <span class="register">Cadastre-se</span></div>
      </div>
      <div *ngIf="loading" class="loader"></div>
    </form>
  </div>
