<div class="performance-container">
  <h2 class="performance-title">
    <img class="logo-image" src="/assets/images/performance/performance.png" alt="Logo"> Desempenho Atual
  </h2>

  <div class="subjects-section">
    <div class="subject">
      <button class="subject-button" (click)="confirmSubjectSelection('mathematics')">
        <i class="fas fa-calculator"></i> Matemática
        <div class="progress">80%</div>
      </button>
    </div>
    <div class="subject">
      <button class="subject-button" (click)="confirmSubjectSelection('portuguese')">
        <i class="fas fa-book"></i> Língua Portuguesa
        <div class="progress">65%</div>
      </button>
    </div>
    <div class="subject">
      <button class="subject-button" (click)="confirmSubjectSelection('sciences')">
        <i class="fas fa-flask"></i> Ciências Naturais
        <div class="progress">90%</div>
      </button>
    </div>
    <div class="subject">
      <button class="subject-button" (click)="confirmSubjectSelection('history')">
        <i class="fas fa-landmark"></i> História
        <div class="progress">50%</div>
      </button>
    </div>
    <div class="subject">
      <button class="subject-button" (click)="confirmSubjectSelection('geography')">
        <i class="fas fa-globe"></i> Geografia
        <div class="progress">75%</div>
      </button>
    </div>
  </div>

  <p class="select-subject-message"><i class="fas fa-info-circle"></i>Selecione a matéria para ver os detalhes.</p>

  <div class="home-access" (click)="goToHome()">Para voltar à home, <span class="here">clique aqui</span></div>
</div>
