<div class="home-container">
  <h2 class="home-title">
    <img class="logo-image" src="/assets/images/login/estudante.png" alt="Logo"> Trilhas da Sabedoria
  </h2>

  <h1 class="welcome-home">Olá, <strong>{{ name }}</strong></h1>
  <h3 class="home-sub-title">Explore as opções abaixo e inicie sua jornada de conhecimento!</h3>

  <div class="buttons-section">
    <button (click)="studyPaths()" class="main-buttons"><i class="fas fa-book"></i> Trilhas para Estudo</button>
    <button (click)="takeExams()" class="main-buttons"><div *ngIf="loading" class="loader-menu_itens"></div> Realizar Provas</button>
    <button class="main-buttons"><i class="fas fa-redo"></i> Recomeçar do Zero</button>
    <button (click)="viewCurrentPerformance()" class="main-buttons"><i class="fas fa-trophy"></i> Desempenho Atual</button>
    <button (click)="viewProfile()" class="main-buttons"><i class="fas fa-user"></i> Perfil</button>
    <button (click)="viewGameRules()" class="main-buttons"><i class="fas fa-info-circle"></i> Regras do Jogo</button>
    <button (click)="goToFeeback()" class="main-buttons"><i class="fas fa-comment"></i> Feedback</button>
  </div>

  <div class="login-access" (click)="goToLogin()">Se deseja sair do jogo, <span class="here">clique aqui</span></div>
</div>
