.question-container {
  background-image: url("/assets/images/common/background-base.png");
  background-size: cover;
  height: 100vh;
  background-position: center;
  padding: 0 16px 0 16px;
  font-size: 25px;
  overflow: hidden !important;
}

.question-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.question {
  margin-bottom: 30px;
}

.question-text {
  font-weight: bold;
  color: darkslategray;
  line-height: 1.2;
}

.options {
  margin-top: 10px;
}

.option-label {
  display: block;
  margin-bottom: 10px;
}

.option-text {
  margin-left: 5px;
}

.question-feedback-correct {
  margin-top: 10px;
  color: darkblue;
}

.question-feedback-incorrect {
  margin-top: 10px;
  color: red;
}

.answer-warning {
  font-size: 20px;
  color: red;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.action-button {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: indigo;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {

  .question {
    font-size: 19px;
  }

  .question-text {
    line-height: 1.1;
    text-align: justify;
  }

  .options {
    margin-top: 20px;
  }

  .option-text {
    font-size: 18x;
  }

  .answer-warning {
    font-size: 16px;
  }

}
