<div class="welcome-container">
    <div class="container">
        <img class="logo-image" src="/assets/images/login/estudante.png" alt="Logo">
        <h1 class="title-rpg">Olá! Seja bem-vindo ao jogo Trilhas da Sabedoria!</h1>

        <h3 class="subtitle-rpg">Um RPG educativo para você explore um mundo de conhecimento enquanto se diverte!</h3>

        <a class="button-to-start" (click)="onStartClick()">Começar</a>
    </div>
    <div class="footer">
        Desenvolvido by: João Paulo Fernandes
    </div>
</div>