.forget-password-container {
    background-image: url("/assets/images/common/background-base.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forget-password-title {
    font-size: 2rem;
    margin-bottom: 50px;
}

.forget-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-form-forget-password {
    border-radius: 12px;
    width: 313.5px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

.reset-password-button {
    padding: 1rem 2rem;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.login-access {
    text-align: center;
    margin-top: 0.5rem;
    color: darkgreen;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.here {
    color: peru;
}

@media (max-width: 768px) {
    .forget-password-title {
        font-size: 1.5rem;
    }

    input {
        font-size: 0.8rem;
    }

    .reset-password-button {
        font-size: 1rem;
    }
}