<div class="forget-password-container">
  <h2 class="forget-password-title">Esqueceu sua senha?</h2>
  <form class="forget-password-form" (submit)="resetPassword($event, emailInput.value)">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input class="input-form-forget-password" type="email" id="email" name="email" placeholder="Digite seu e-mail"
        #emailInput required>
    </div>
    <button class="reset-password-button" type="submit">Redefinir Senha</button>
  </form>
  <div class="form-group">
    <div class="login-access" (click)="goToLogin()">Para voltar ao login, <span class="here">clique aqui</span></div>
  </div>
</div>